POSTGRES_DB=borsibaar
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/borsibaar

SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=password

GOOGLE_CLIENT_ID=<<<filll>>>
GOOGLE_CLIENT_SECRET=<<<<<<filll>>>>>

JWT_SECRET= <<<<<<fill>>>>

APP_FRONTEND_URL=https://team26-borsibaar.ddns.net
APP_CORS_ALLOWED_ORIGINS=https://team26-borsibaar.ddns.net
SERVER_FORWARD_HEADERS_STRATEGY=framework

LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG
SERVER_ERROR_INCLUDE_MESSAGE=always
SERVER_ERROR_INCLUDE_STACKTRACE=always
SPRING_PROFILES_ACTIVE=prod
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_REDIRECT_URI=https://team26-borsibaar.ddns.net/login/oauth2/code/google

SERVER_SERVLET_SESSION_COOKIE_SECURE=true
SERVER_SERVLET_SESSION_COOKIE_SAME_SITE=None
